@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    color: rgb(180, 120, 8);
    font-family: 'Poppins';
    position: relative;
    width: 100%;
}

.header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 4px rgb(64, 48, 31);
    color: rgb(233, 208, 22);
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
}

button {
    font-weight: 500;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(8px);
    color: rgb(209, 244, 244);
    transition-property: all;
    transition-duration: .1s;
    font-size: 1.25rem;
    font-weight: 500;
    border: solid 3px #146551;
}

button:hover {
    backdrop-filter: blur(15px);
    border: solid 3px whitesmoke;
    color: #26b18e;
}
/* Card styles */
.card {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-2 {
    width: 50%;
    background-color: #0f493b;
    height: 30vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
}
.card input {
    width: 35vw;
    height: 5vh;
    padding: 0.75rem;
    font-size: 1.25rem;
    color: black;
}
.save-btn {
    border: solid 3px whitesmoke;
    margin: 0;
    width: 100px;
    border-radius: 30px;
}
.save-btn:hover {
    background-color: whitesmoke;
    color: #0f493b;
    border: solid 5px #0f493b;
    font-weight: 600;
}
/* Utiltiy Classes */
.underline {
    height: 0.3rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background: white;
}

.close, .close_rules {
    position: absolute;
    right: 26px;
    top: 14px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
/* End of Utility classes */

.title {
    text-align: center;
    font-size: 1.55rem;
    font-weight: 600;
}
.section1 {
    text-align: center;
    line-height: 1.8;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 1.5rem;
    display: none;
}

.active {
    display: inline;
}
.container{
    background-color: rgba(0, 0, 0, 0.441);
    width: 100%;
    height: 100vh;
}

.rules {
    text-align: left;
    margin-left: 4rem;
    color: rgb(251, 251, 250);
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.441);
}

.summary1 {
    margin: 8px 18px;
    color: rgb(255, 4, 4);
}

a:link {
    color: rgb(52, 45, 3);
}

.footer {
    position: absolute;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 8vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ccc;
    border-top: solid 4px rgba(50, 44, 12, 0.508);
    backdrop-filter: blur(10px);

}

.footer a:link {
    color: #ccc;
    text-decoration: none;
}

.operators {
    display: block;
}

.operands {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.inactive {
    display: none;
}

.btn-1 {
    position: absolute;
    bottom: 55px;
    left: 20px;
    font-size: 1.75rem;
    backdrop-filter: blur(8px);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bdbdbd; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #696968; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #727272; 
  }